<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pokedex</title>
</head>

    <body>  

        <header>

            <h1>Pokedex</h1>

        </header>

        <main>

            <section id="cards">

                <h2>Lista dos Pokemons</h2>

                <% pokedex.forEach((pokemon) => { %>
    
                    <div class="card">
                        
                        <p>Id: <%= pokemon.id %> </p>
                        <img src="<%= pokemon.imagem %>" alt="">
                        <h3> <%= pokemon.nome %> </h3>
                        <p>Tipo: <%= pokemon.tipo %> </p>
                        <p class="descricao"> <%= pokemon.descricao %> </p>

                        <a href="/detalhes/<%= pokemon.id %>">Editar</a>
                        
                    </div>
        
                <% }); %>
    
            </section>

            <section id="cadastro">

                <img src="/img/pokedex.png" alt="">

                <div>

                    <% if(pokemon == undefined) { %>

                        <h2>Cadastre um novo Pokemon.</h2>
        
                        <form action="/add" method="POST">
        
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome">
        
                            <label for="descricao">Descrição:</label>
                            <input type="text" id="descricao" name="descricao">
        
                            <label for="tipo">Tipo:</label>
                            <input type="text" id="tipo" name="tipo">
        
                            <label for="imagem">Link da imagem:</label>
                            <input type="text" id="imagem" name="imagem">
                            
                            <button id="btnCadastrar" type="submit">Cadastrar</button>
        
                        </form>
        
                        <% } else { %>
        
                            <h2>Atualize o pokemon!</h2>
                        
                            <form action="/update/<%= pokemon.id %>" method="POST">
        
                                <label for="nome">Nome:</label>
                                <input type="text" id="nome" name="nome" value="<%= pokemon.nome %>">
        
                                <label for="descricao">Descrição:</label>
                                <input type="text" id="descricao" name="descricao" value="<%= pokemon.descricao %>">
        
                                <label for="tipo">Tipo:</label>
                                <input type="text" id="tipo" name="tipo" value="<%= pokemon.tipo %>">
        
                                <label for="imagem">Link da imagem:</label>
                                <input type="text" id="imagem" name="imagem" value="<%= pokemon.imagem %>">
                                
                                <button id="btnAtualizar" type="submit">Atualizar</button>
        
                            </form>
                            <% } %>
                       

                </div>

                
            </section>
            
        </main>

    </body>

</html>